#root {
    margin: 0 auto;
    --highlight-color: #F0F0F0;
}

#chartDiv {
    height: 400px;
    max-width: 1000px;
}

.metric-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

select {
    font-size: 1rem;
    margin: 10px;
}

.data-table {
    font-size: 0.8rem;
    border-collapse: collapse;
}

.data-table th {
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
}

.data-table th, .data-table td {
    padding: 0.2rem;
}

.sortable-table th {
    user-select: none;
}

.sortable-table thead tr {
    cursor: pointer;
}

.training {
    font-weight: bold;
}

.sort-arrow {
    display: inline-block;
    margin-left: 0.5rem;
    width: 2rem;
}

.simple-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
}

.simple-button:hover {
    background-color: var(--highlight-color);
}

.simple-button:disabled {
    color: #B0B0B0;
    border: 1px solid #B0B0B0;
    background-color: #F8F8F8;
}