:root {
    --highlight-color: #F0F0F0;
}

#root {
    width: 100vw;
    box-sizing: border-box;
    padding: 10px 50px;
}

.navbar {
    display: flex;
    color: #B0B0B0;
}

.navbar-menu {
    display: flex;
    gap: 0.25rem;
}

.navbar-menuitem {
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    padding: 1rem;
    font-weight: bold;
}

.navbar-menuitem.active {
    color: black;
}

.navbar-menuitem:hover {
    color: black;
    background-color: var(--highlight-color);
    border-radius: 8px;
}

.navbar-menuitem:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
    border-radius: 8px;
}

.tab-content {
    width: 100%;
    padding: 10px;
}

#chartDiv {
    height: 400px;
    max-width: 1000px;
}

.metric-container {
    margin-left: 1rem;
    margin-right: 1rem;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="checkbox"] + label {
  cursor: pointer;
}

select {
    font-size: 1rem;
    margin: 10px;
    cursor: pointer;
}

.data-table {
    font-size: 0.8rem;
    border-collapse: collapse;
}

.data-table th {
    border-bottom: 1px solid lightgray;
    white-space: nowrap;
}

.data-table th, .data-table td {
    padding: 0.5rem;
}

.data-table tbody tr:nth-child(even) {
  background-color: #cfe2f3;
}

.sortable-table th {
    user-select: none;
}

.sortable-table thead tr {
    cursor: pointer;
}

.training {
    font-weight: bold;
}

.sort-arrow {
    display: inline-block;
    margin-left: 0.5rem;
    width: 2rem;
}

.simple-button {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
}

.simple-button:hover {
    background-color: var(--highlight-color);
}

.simple-button:disabled {
    color: #B0B0B0;
    border: 1px solid #B0B0B0;
    background-color: #F8F8F8;
}

.training-tab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-submission {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.job-message {
    background-color: var(--highlight-color);
    flex-grow: 1;
    border-radius: 10px;
    padding: 10px;
}

.args-container {
    display: flex;
    gap: 20px;
}

.args {
    margin: 1.5rem 0;
}

.args textarea {
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

.validation-error {
    color: red;
    height: 1rem;
    margin: 0;
}

.overlay-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.overlay-close-button {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.overlay-close-button:hover {
    background-color: var(--highlight-color);
}

.jobs-container {
    overflow-y: auto;
    height: 35vh;
    width: fit-content;
}

.selectable-table tbody tr:hover {
    background-color: #9fc5e8;
    cursor: pointer;
}

.selectable-table tbody tr.selected-row {
    background-color: #1e6091;
    color: #ffffff;
}

.job-action {
    border: none;
    background: none;
    cursor: pointer;
}

.job-action:focus {
    outline: none;
}

.job-action:focus-visible {
    outline: 2px solid black;
    border-radius: 2px;
}

.job-messages {
    font-family: ui-monospace, Menlo, Consolas, 'Courier New', monospace;
    font-size: 0.8rem;
    overflow-wrap: break-word;
    padding: 0.8rem;
    overflow-y: auto;
    border: 1px solid;
    height: 35vh;
}
